.facilities-desc
{
background-color: #FFFCF6;
display:flex;
flex-direction:row;

padding-bottom:107px;
justify-content: space-between;
}
.facilities-desc-container
{
    
    position: relative;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.space-copengagen
{
    width:30%;
    height:auto;
    object-fit:contain;
}
.arrow-button
{
    background: url(../images/button-default2.svg);
    width:170px;
    height:170px;
    border:none;
   
    background-size:contain;
    background-repeat: no-repeat;
}
.rotate
{
    transform: rotate(90deg);
    margin-top:333px;
}
.facility-number
{
    color: var(--Text, #1B3B36);

font-family: Miracle;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin-top:72px;
margin-bottom:162px;
}
.facility-name
{
    color: var(--Text, #1B3B36);

font-family: Miracle;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 100%; 
letter-spacing: 1.5px;
text-transform: capitalize;
margin-bottom:40px;
}
.facility-text
{
    color: var(--Text, #1B3B36);
    max-width:335px;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 155.556%; 
}
.other-facilities{
    background-color:#FFFCF6;
    padding-bottom:250px;
}

.facility-container
{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;

    padding-top:50px;
    padding-bottom: 50px;
}
.facility
{
    border-bottom: 1px solid black;
}
.other-facilities-container
{
    max-width:100%;
}
.facility-container
{
    max-width: 1280px;
    margin:0 auto;
}
.other-facility-name
{
    color: var(--Text, #1B3B36);

font-family: Miracle;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height:  100% ;
letter-spacing: 2.4px;
text-transform: capitalize;
}
.other-facility-number
{
    color: var(--Text, #1B3B36);

font-family: Miracle;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 100%; 
text-transform: capitalize;
}
@media  screen and (max-width:767px) {
   .arrow{
    display:none;
   } 
   .facilities-desc-container
   {
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    position:relative;
   }
   
    .facility
    {
        width:100%;
        display:flex;
        justify-content: center;
    }
    .facility-container
    {
        display:flex;
        max-width:375px;
        flex-wrap: wrap;
        justify-content: center;
        gap:39px;
    }
    .other-facility-number
    {
        font-size: 24px;
    }
    .other-facility-name
    {
        font-size: 24px;
    }
    .other-facility-image
    {
        width:41%;
        height:auto;
    }
    .space-copengagen
    {
        margin-top:70px;
        width:100%;
        height:auto;
    }
    .arrow-button
    {
        width:70px;
        height: 70px;
        margin-top:130px;
    }
.facilities-desc{
    gap:0;
    padding-bottom: 40px;
    position:relative;
    align-items:center;
}
.facility-number
{
    margin:0;
    position:absolute;
    left:10px;
    top:0px;
}
.facilites-desc-column
{
    display:flex;
    max-width: 60%;
    flex-wrap: wrap;
}
.facility-text
{
    margin-top:20px;
    font-size:13px;
}
.other-facilities-container
{
    max-width:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
   }
   @media screen and (max-width:1280px)and (min-width:768px)
    {
    .arrow-button
    {
        width:105px;
        height:105px;
        background-size:contain;
    }
    .rotate{
margin-top:18%;
    }
    .space-copengagen{
        width:30%;
        max-height:100%;
    }
    .facility-name{
font-size:36px;
    }
    .facility-number{
        margin-bottom:100px;
    }
    .other-facility-image
    {
        width:180px;
    }
    .other-facilities-container
    {
        max-width: 100%;
    }
    .facility-container
    {
        max-width:768px;
        margin:0 auto;
    }
    .facilities-desc-container
    {
        width:100%;
        display:flex;
        flex-wrap:nowrap;
        gap:100px;
    }
    .other-facility-number,.other-facility-name
    {
        font-size:36px;
    }
    .facility-text{
        font-size:13px;
    }
    .facility-number
    {
        font-size:36px;
    }
}