footer
{
    background-color: #FFFCF6;
    padding:0px 20px;
    position:relative;
}
.footer-container
{
    max-width: 100%;
}

.footer-address-block-border
   {
    border-top: 1px solid black;
   }
.footer-image
{
    object-fit:contain;
}
.footer-container
{
    position:relative;
}
.socials
{
    color: var(--Text, #1B3B36);

font-family: Helvetica;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 125%;
text-transform: uppercase;
}
.socials-container
{
    flex-wrap: wrap;
}
.footer-number
{
    color: var(--Text, #1B3B36);
font-family: Helvetica;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: underline;
margin-bottom:275px;
}
.footer-title
{
    color: var(--Text, #1B3B36);
font-family: Miracle;
font-size: 250px;
font-style: normal;
font-weight: 400;
line-height: 100%; 
text-transform: uppercase;
}
.yellow
{
    color: var(--Secondary-color, #FCD043);
    text-align: end;
    z-index: 1;
    position: absolute;
    right:20px;
    top:1050px;
}
.footer-about-us-title
{
    color: var(--Text, #1B3B36);
    font-family: Helvetica;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom:40px;
    margin-top:100px;
}
.footer-text
{
    color: var(--Text, #1B3B36);

font-family: Helvetica;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 175% ;
margin-bottom:30px;
}
.copyright
{
    color: var(--Text, #1B3B36);
    opacity: 0.24;
font-family: Helvetica;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 171.429%;
margin-top:70px; 
}
.footer-address-block
{
    display: flex;
    max-width:1280px;
    margin:0 auto;
    gap:187px;
    padding-bottom:100px;
    
}
.footer-about-us
{
  max-width:285px;  
}
.socials-container
{
    display: flex;
    flex-direction: row;
    gap:50px;
}
.footer-input
{
background-color:#FFFCF6;
padding: 25px 51px 19px 20px;
font-size:16px;
}
.input-type-container
{
    position:relative;
    margin-top:30px;
}
.footer-arrow-button
{
    position: absolute;
    top:33%;
    right:10%;
}
.get-in-touch{
    max-width:1280px;
    margin:0 auto;
    padding-top:250px;
    position:relative;
}
.footer-input{
    width:100%;
}
.footer-address{
    color: var(--Text, #1B3B36);

font-family: Helvetica;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
width: 240px;
}
.footer-address-container{
    display:flex;
    justify-content:flex-end;
    margin-bottom:180px;
}
.foot-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom:360px;
}
.footer-image
{
    margin-left:40px;
    margin-right:40px;
}
.book-title
{
    color: var(--Text, #1B3B36);

font-family: Helvetica ;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin-bottom:50px;
}
.footer-button
{
    color:black;
    border: 1px solid #313F38;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    text-transform: uppercase;
    background:#FFFCF6 ;
    opacity: 1;
    padding:65 95;
    backdrop-filter: blur(20px);
}
.footer-buttons-container
{
    display:flex;
    flex-direction: row;
    margin-bottom:150px;
}
.green
{
    color:white;
    background-color: #1B3B36;
}
.back-image
{
    object-fit:contain;
    width:335px;
}
@media only screen and(max-width:767px) 
{
    footer 
    {
        padding:0 9px;
        padding-top:100px;
        
    }
    .foot-row{
        margin-bottom:340px;
    }
    .footer-container 
    {
        max-width:100%;
    }
.footer-buttons-container
{
    display:none;
    
}
.footer-title
    {
        font-size:84px;
        max-width:100%;
    }
    .footer-address{
        font-size:18px;
position:static;
width:auto;
text-align: end;
max-width: 244px;
margin-bottom:70px;
    }
    .footer-number
    {
        font-size:20px;
        margin-bottom:71px;
    }
    .footer-image
    {
      width:36px;
      height: auto;
margin-right:0;
       
}
.footer-book-button
{
    display:none;
}
.footer-about-us-title, .footer-text, .socials, .form
{
display:none;
}
.copyright-section
{
    width:100%;
}
.copyright{
color: #1B3B36;
opacity: 1;
font-family: Helvetica;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
text-align:center;
}
.footer-address-block
{
    display:flex;
    justify-content:center;
    
}
.footer-address-container
{
    width:100%;
    display:flex;
justify-content:flex-end;
}
.back-image
{
    width:40%;
    height:auto;
    position:absolute;
    right:0;
    top:108%;
}
.get-in-touch
{
    max-width: 375px;
    flex-wrap:wrap;
    padding:0;
    margin:0 auto;
}
.yellow{
    top:98%;
}
.gallery-label
{
    width:50px;
}

}
@media screen and (max-width:1280px)and (min-width:768px) {
    .footer-container
    {
        max-width:100%;
    }
    .get-in-touch
    {
        max-width:768px;
        margin:0 auto;
        padding:0;
    }
   .footer-title
   {
    font-size:150px;
   } 
   .foot-row{
    margin-bottom:200px;
   }
   .footer-image
   {
    width:70px;
    margin-left:20px;
    margin-right:35px;
   }
   .back-image
   {
    width:22%;
   }
   .yellow
   {
    top:63%;
   }
   .footer-address-block
   {
    flex-wrap:nowrap;
   }
   .footer-about-us{
    max-width: 25%;
   }
   .socials-container{
    flex-wrap:wrap;
   }
   .footer-address{
    font-size:18px;
   }
   .footer-button
   {
    padding:43px 54px;
   }
   .footer-number
   {
    margin-bottom:190px;
   }
   .footer-buttons-container
   {
    margin-bottom:100px;
   }
   .get-in-touch{
padding-top:200px;
   }
   .footer-arrow-button
   {
    right:8%;
   }
   .footer-address-container
   {
    display:flex;
    justify-content:flex-end;
    margin-bottom:100px;
   }
   .footer-address-block{
    max-width:768px;
    margin:0 auto;
   }
   .footer-text
   {
    font-size:13px;
   }
   .socials
   {
    font-size:13px;
   }
   .footer-about-us-title
   {
    font-size:18px;
   }
   .footer-button{
    font-size:12px;
   }
   .book-title
   {
font-size:18px;
   }
   .footer-number
   {
    font-size:38px;
   }
}