@import url('https://fonts.cdnfonts.com/css/miracle-2');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
.hero-page
{
    padding-top:112px;
    background-color: #313F38;
    display: flex;
    justify-content: space-between;
    padding-bottom:100px;
}
@media (max-width:1024px) {
    .hero-page
    {
         padding-top:50px;
    }
   
}
.title
{
color: var(--White, #FFFCF6);
font-family: 'Miracle';
font-size: 10.625em;
font-style: normal;
font-weight: 400;
margin-bottom:62px;
}
.yellow-title
{
    color:#FCD043;
}
.lower-text
{
    color:#FCD043;
    font-family: Helvetica;
    font-size: 1.125em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase; 
}
.since-button
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap:23px;
    margin-top:38px;
    margin-bottom:92px;
border: 1px solid rgba(255,255,255,0.32);
background-color: #313F38;
border-radius:40px;
padding-top:25px;
padding-bottom:19px;
padding-left:30px;
padding-right: 50px;
color: var(--White, #FFFCF6);
font-family: Helvetica;
font-size: 1.375em;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
.button-text
{
    display: inline-flex;
    max-height:1.625em;
    justify-self:center;
}
.since-desc
{
    color: var(--White, #FFFCF6);
font-family: Helvetica;
font-size: 1.125em;
font-style: normal;
font-weight: 400;
line-height: 156%;
max-width:350px;
}
.default-button
{
    background: url(../images/button-default.svg);
    background-size: cover;
    border:0;
    width:70px;
    height:70px;
}
.hero-image
{
    position:relative;
}
.hero-buttons-container
{
    position: absolute;
    top:0;
    right: 20;
    background: none;
    display:flex;
    flex-direction: row;
}
.hero-buttons-item
{
   
    color: var(--White, #FFFCF6);
font-family: Helvetica;
font-size: 1em;
font-style: normal;
font-weight: 500;
line-height:  125% ;
text-transform: uppercase;
background: rgba(49, 63, 56, 0.48);
opacity: 0.9;
border: none;
padding:65 95;
backdrop-filter: blur(20px);
}
.books
{
    padding:65 95;
    opacity: 1;
    background: var(--Secondary-color, #FCD043);
    color:black;
}
.address-item
{
    color: #FFFCF6;
    font-family: Helvetica;
    font-size: 1.625em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
}
.number
{
    color:#FCD043;
}
.address-block
{
    display: flex;
    flex-direction: column;
    padding-right:0;
    gap:14px;
}
.address-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right:0;
    padding:90px 0px;
}
.img-desc
{
    color: var(--White, #FFFCF6);
text-align: right;
font-family: Helvetica;
font-size: 1.625em;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
max-width:20%;
}
.italic
{
font-style:italic;
}