<section class="facilities">
    <div class="facilities-column">
        <p class="congress-hall">Art & Congress hall</p>
<img src="./images/michael-browning-MtqG1lWcUw0-unsplash 1.png" width = "355"  alt="another photo">
    </div>
    <div class="facilities-column">
<h1 class="facilities-title">our faci</h1>
<div class="row">
<img src="./images/star.svg" alt="">
<h1 class="facilities-title">lities</h1>
</div>
<p class = "facilites-desc">Bank Hotel offers you a wide range of additional services and facilities. Visit our restaurant to try exclusive meals, book a conference hall to organize a business meeting, or relax in the art-bar.</p>
    </div>
    <div class="facilities-column">
        <img src="./images/sunrise-photos-PWhQFg_MEUs-unsplash 1.png" alt="another photo" class = "facilities-photo" >
    </div>
</section>
