<section class="facilities">
    <div class="container facilities-container">
        <div class="congress-hall-container">
            <p class="congress-hall">Art & Congress hall</p>
        </div>
<img src="./images/michael-browning-MtqG1lWcUw0-unsplash 1.png"  alt="another photo" class = "facilities-image">
    <div class="facilities-column">
<h1 class="facilities-title">our faci</h1>
<div class="row">
<img src="./images/star.svg" alt="wqd">
<h1 class="facilities-title">lities</h1>
</div>
<p class = "facilites-desc">Bank Hotel offers you a wide range of additional services and facilities. Visit our restaurant to try exclusive meals, book a conference hall to organize a business meeting, or relax in the art-bar.</p>
    </div>
        <img src="./images/sunrise-photos-PWhQFg_MEUs-unsplash 1.png" alt="another photo" class = "facilities-photo" >
    </div>
</section>
