<section class="facilities-desc">
    <div class="facilites-desc-column">
        <button class = "arrow-button rotate">
        </button>
    </div>
    <div class="facilites-desc-column">
        <p class="facility-number">01</p>
        <h2 class="facility-name">
            Ice restaurant
        </h2>
        <p class="facility-text">
            The hotel’s exclusive infrastructure is complemented by the unique atmosphere of the Safe Restaurant. Author’s menu, extensive wine card, and live music will set you for the correct mood.
        </p>
    </div>
    <div class="facilites-desc-column">
        <img src="./images/space-copenhagen-the-stratford-architonic-jw4-04-arcit18 1.png" alt="another photo" class="space-copengagen" height="640">
    </div>
</section>
<section class="other-facilities">
    <div class="facility">
<img src="./images/space-copenhagen-the-stratford-architonic-jw-5-17-arcit18 1.png" alt="another photo">
<p class="other-facility-number">     02   </p>
<h3 class="other-facility-name">
Conference Hall</h3>
<a href="#" class="facility-link">
<img src="images/arrow.svg" alt="another photo">
</a>
    </div>
    <div class="facility">
        <img src="images/space-copenhagen-the-stratford-architonic-jw-13-20-arcit18 1.png" alt="another photo">
    <p class="other-facility-number">03</p>
    <h3 class="other-facility-name">Wine Bar "Reserve"</h3>
    <a href="#" class="facility-link">
    <img src="images/arrow.svg" alt="another photo">
</a>
    </div>
</section>