<section class="facilities-desc" id = "restraunt">
    <div class="container facilities-desc-container">
        <button class = "arrow-button rotate">
        </button>
    <div class="facilites-desc-column">
        <p class="facility-number"> 
            01
        </p>
        <p class="facility-name">
            Ice restraunt
        </h2>
        <p class="facility-text">
            The hotel’s exlusive infrastructure is complemented by the unique atmosphere of the Safe Restaurant. Author’s menu, extensive wine card, and live music will set you for the correct mood.
        </p>
    </div>
        <img src="./images/space-copenhagen-the-stratford-architonic-jw4-04-arcit18 1.png" alt="another photo" class="space-copengagen" >
    </div>
</section>
<section class="other-facilities">
<div class="container other-facilities-container">
    
    <div class="facility">
        <div class="facility-container">
        <img src="./images/space-copenhagen-the-stratford-architonic-jw-5-17-arcit18 1.png" alt="another photo" class = "other-facility-image">
<p class="other-facility-number">     02   </p>
<h3 class="other-facility-name">
Conference Hall</h3>
<a href="#" class="facility-link">
<img src="images/arrow.svg" alt="another photo" class = "arrow" >
        </div>

</a>
    </div>
    
    <div class="facility">
        <div class="facility-container">
        <img src="images/space-copenhagen-the-stratford-architonic-jw-13-20-arcit18 1.png" alt="another photo" class = "other-facility-image">
    <p class="other-facility-number">03</p>
    <h3 class="other-facility-name">Wine Bar "Reserve"</h3>
    <a href="#" class="facility-link">
    <img src="images/arrow.svg" alt="another photo" class = "arrow">
</a>
    </div>
        
    </div>
</div>
</section>