<footer>
    <div class="get-in-touch">
        <p class="footer-number">
        +38 032 297 50 20
    </p>
    <p class="footer-address">
        8 Lystopadovoho Chynu,Lviv
    </p>
    <div class="foot-row">
       <h2 class="footer-title">
        get in
    </h2>
     
    <img src="./images/Star 5.svg" alt="another star" class = "footer-image">
    <img src="./images/jean-philippe-delberghe-T5BF4OyQLwU-unsplash 1.png" alt="another photo" >
    </div>
   <h2 class="footer-title yellow">
        touch
    </h2>
    <div class="footer-book-button">
<h3 class="book-title">
    Find a room
</h3>
<div class="footer-buttons-container">
    <button class="footer-button">check in</button>
    <button class="footer-button">check out</button>
    <button class="footer-button green">book room</button>
</div>
    </div>
    </div>
    <div class="footer-address-block">
        <div class = "footer-about-us">
            <h3 class="footer-about-us-title">about us</h3>
        
        <p class="footer-text">
            The five-star hotel in a beautiful European city with a modern restaurant, conference-hall, and art-bar.
        </p>
        <p class="copyright">©2021 All rights reserved. BankHotel</p>
    </div>
        <form class="footer-about-us">
<h3 class="footer-about-us-title"> news </h3>
<label class="footer-text" for="email">
    Sign up to our newsletter not to miss exclusive offers and information about the upcoming events.    
</label>
<div class="input-type-container">
    <input type="text" id = "email" class = "footer-input" placeholder="EMAIL">
    <img src="./images/Group 4596.svg" alt="another-photo" class = "footer-arrow-button">
</div>

</form>
        <div class="footer-about-us">
            <h3 class="footer-about-us-title">social</h3>
            <div class="socials-container">
                <a href="#" class="socials">facebook</a>
            <a href="#" class="socials">instagram</a>
            <a href="#" class="socials">twitter</a>
            </div>
            
        </div>
    </div>
</footer>