<section class="gallery" id = "conference-hall">
    <div class="container gallery-container">
        <div class="gallery-text-container">
            <img src="./images/label.svg" alt="another photo" class = "gallery-label">
<h2 class="gallery-title">
our gallery
</h2>
<p class="gallery-text">
    Explore our spacious rooms with the gorgeous view to the historical part of the city. Each room has an exclusive interior design decorated with modern art pieces that will make your stay unforgettable.
</p>
<img src="./images/space-copenhagen-the-stratford-architonic-jw-8-18-arcit18 1.png" alt="another photo" class = "center-photo">
<div class="gallery-lower-text-container">
    <img src="./images/Polygon-7.svg" alt="another polygon" class = "polygon">
  <p class = "gallery-lower-text">
    It is our pleasure to meet your most unrealistic expectations.
</p>  
</div>

 </div>
<div class="images">
    <img src="./images/space-copenhagen-the-stratford-architonic-rs-10-28-arcit18 1.png" alt="another photo" class="image-item top-left">
    <img src="./images/space-copenhagen-the-stratford-architonic-rs-4-26-arcit18 1.png" alt="another photo"  class="image-item bottom-right">
    <img src="./images/ccd-cheng-chung-design-hualuxe-xi-an-hi-tech-zone-architonic-20-qiu-xin-10-arcit18 1.png" alt="another photo" width = "241"  class="image-item bottom-left">
    <img src="./images/space-copenhagen-the-stratford-architonic-jw-2-16-arcit18 1.png" alt="another photo"  class="image-item  top-right">
</div>
    </div>
</div>
</section>
<section class="marquee-section">
    <div class="marquee-container">
    <div class="marquee-text">
        Bank Hotel Bank Hotel Bank Hotel 
    </div>
    </div>
    <div class="marquee-container">
    <div class="marquee-text reverse">
        Bank Hotel Bank Hotel Bank Hotel
    </div>
</section>