<header class="header">
    <div class="container">
        <div class="header-body">
            <a href="#" class="logo">BankHotel</a>
            <div class="header-burger">
                <span>

                </span>
            </div>
            <nav class="header-menu">
                <ul class="nav-list">
                    <li>
                        <li class="nav-item"><a href="#" class="nav-ref">home</a></li>
        <li class="nav-item"><a href="#" class="nav-ref">about</a></li>
        <li class="nav-item"><a href="#" class="nav-ref">rooms</a></li>
        <li class="nav-item"><a href="#" class="nav-ref">restaurant</a></li>
        <li class="nav-item"><a href="#" class="nav-ref">conference hall</a></li>
        <li class="nav-item"><a href="#" class="nav-ref">contacts</a></li>
         <li class="nav-item header-num"><a href="tel:+38 032 297 50 20" class = "nav-ref phone">+38 032 297 50 20</a></li>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>