<section class="hero-page" id = "home">
  <div class="container hero-page-container">
    <div class="title-container">
    <h1 class="title">Bank<span class = "yellow-title">Hotel</span></h1>
    <p class = "lower-text">rooms // restaurant // congress hall // wine bar</p>
</div>
<div class = "since-container">
<button class = "since-button">
  <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path id="Star 8" d="M17.5 0L18.8519 13.3391L27.7862 3.3422L21.0394 14.9284L34.1435 12.0922L21.875 17.5L34.1435 22.9078L21.0394 20.0716L27.7862 31.6578L18.8519 21.6609L17.5 35L16.148 21.6609L7.21376 31.6578L13.9605 20.0716L0.85651 22.9078L13.125 17.5L0.85651 12.0922L13.9605 14.9284L7.21376 3.3422L16.148 13.3391L17.5 0Z" fill="#FCD043"/>
    </svg>
<p class="button-text">Since 1973</p>
</button>
<p class = "since-desc">The luxurious hotel in the most  beautiful European city with an exclusive restaurant, conference-hall, and art-bar.</p>
</div>
<button class = "default-button">
</button>
</section>
<section class="hero-image">
    <img src="./images/a2ba468c52ffda298f710e0fb721dedf.jpg" alt="hero-image" width = "100%">
    <div class="hero-buttons-container container">
        <button class = "hero-buttons-item">check-in</button>
        <button class = "hero-buttons-item">check-out</button>
        <button class = "hero-buttons-item books">book room</button>
      </div>
      <div class="container address-container">
      <div class="address-block">
        <a href="tel:+38 032 297 50 20" class="address-item number">+38 032 297 50 20</a>
        <a href="#" class="address-item">8 Lystopadovoho Chynu,Lviv </a>
      </div>
      <p class="img-desc">Art & Congress <span class="italic">hall</span></p>
      </div>
    </div>
</section>